.fullContainer {
    width: 100%;
}
.singleTaskContainer{
    width: 100;
    height: 4.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background: var(--gray-600);

}

.singleTaskContainer + .singleTaskContainer {
    background: red;
}

.titleNormal {
    width: 100%;
    font-size: 14px;
    line-height: 140%;
    font-family: 'Inter', sans-serif;
    /* font-weight: bold; */
    color: var(--gray-100);
    padding: 0.5rem;
}

.titleDone {
    width: 100%;
    font-size: 14px;
    line-height: 140%;
    font-family: 'Inter', sans-serif;
    /* font-weight: bold; */
    color: var(--gray-300);
    padding: 0.5rem;
}