.inputContainer {
    width: 46rem;
    height: 3.375rem;
    /* background: red; */
    display: flex;
    gap: 8px;
    /* justify-content: center; */
    /* align-items: stretch; */
    /* position: relative; */
    z-index: 10;
    transform: translateY(-50%);
    margin: 0 auto;
}